cma==4.4.0
cupy-cuda12x==13.5.1
fastrlock==0.8.3
fsspec==2025.5.1
git-filter-repo==2.47.0
h5py==3.14.0
joblib==1.5.2
llvmlite==0.45.1
matplotlib==3.10.0
mkl-service==2.4.0
munkres==1.1.4
NSMFermions @ git+https://github.com/emacosta95/QuantumMachineLearningFermions.git@f1b56d9aae3d2ebfd7914ffea8293f6a391032ea
numba==0.62.1
numpy 
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
pbr==6.1.1
PyQt6==6.7.1
qiskit==2.2.1
qiskit-algorithms==0.3.1
rustworkx==0.16.0
scipy 
stevedore==5.4.1
torch==2.7.1
tqdm 
tqdm_joblib==0.0.5
triton==3.3.1
